html, body
{
    height: 100%;

}

.image-product
{
    width: 150px;
    margin-bottom : 20px;
    background-color : white;
    border : 1px solid lightgray;
    box-shadow: 5px 5px 5px  rgb(91, 91, 91);
    box-sizing: border-box;
    padding: 10px;
}

.menu
{
    background-color: gray;
}

.main-header, main-header:hover
{
    background-color: rgb(31, 31, 31);
}

.main-header h1 
{
    font-size : 20px;
    color : white;
    display: flex;
    justify-content: center;
    padding : 25px;
    margin: 0px;
}

.top-navbar
{
    background-color: gray;
    display : grid;
    justify-content : center;
}

.photoProfil{
    width: 25px;
}

.ligne{
    display: inline-block;
}
.etoile{
    width: 20px;
}
.color-white{
    color: white;
}

.commentaire{
    margin-bottom: 20px;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}
.photoPanier{
    width:200px
}
/* Animation du bouton Panier*/
.cart{
    background: #fdbb2d;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    border: 2px solid black;
}
.cart svg{
    position: absolute;
    margin-left: 0px;
    transition: 400ms;
    color: transparent;
}
.cart span{
    transition: 400ms;
}
.cart:hover span{
    margin-right: 30px;
}
.cart:hover svg{
    margin-top: 3px;
    margin-left: -20px;
    color: black;
}
button:focus{
    outline: none;

}
.image-accueil{
    width: 400px;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.containerr {
    margin: 30px auto;
}

.containerr .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}

body {
    background: #eee
}



.btn.btn-primary {
    background-color: #ddd;
    color: black;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

.btn.btn-primary:focus {
    box-shadow: none;
}

.containerr .card .img-box {
    width: 80px;
    height: 50px;
}

.containerr .card img {
    width: 100%;
    object-fit: fill;
}

.containerr .card .number {
    font-size: 24px;
}

.containerr .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.fab.fa-cc-mastercard {
    font-size: 32px;
    color: red;
}

.fab.fa-cc-discover {
    font-size: 32px;
    color: orange;
}

.c-green {
    color: green;
}

.boxx {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-controll {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
    color: #80868B;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-controll:focus+.form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-controll:not(:placeholder-shown).form-controll:not(:focus)+.form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-controll:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

.containerr {
    margin: 30px auto;
}

.containerr .card {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    border-radius: 0px;
}



.containerr .img-boxx {
    width: 160px;
    height: 100px;
}

.containerr .card img {
    width: 100%;
    object-fit: fill;
}


.containerr .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px;
    color: #3333f7;
}

.fab.fa-cc-amex {
    color: #1c6acf;
    font-size: 32px;
}

.fab.fa-cc-mastercard {
    font-size: 32px;
    color: red;
}

.fab.fa-cc-discover {
    font-size: 32px;
    color: orange;
}

.c-green {
    color: green;
}

.boxx {
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
}

.btn.btn-primary.payment {
    background-color: #1c6acf;
    color: white;
    border-radius: 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}


.form__div {
    height: 50px;
    position: relative;
    margin-bottom: 24px;
}

.form-controll {
    width: 100%;
    height: 45px;
    font-size: 14px;
    border: 1px solid #DADCE0;
    border-radius: 0;
    outline: none;
    padding: 2px;
    background: none;
    z-index: 1;
    box-shadow: none;
}

.form__label {
    position: absolute;
    left: 16px;
    top: 10px;
    background-color: #fff;
    color: #80868B;
    font-size: 16px;
    transition: .3s;
    text-transform: uppercase;
}

.form-controll:focus+.form__label {
    top: -8px;
    left: 12px;
    color: #1A73E8;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-controll:not(:placeholder-shown).form-controll:not(:focus)+.form__label {
    top: -8px;
    left: 12px;
    font-size: 12px;
    font-weight: 500;
    z-index: 10;
}

.form-controll:focus {
    border: 1.5px solid #1A73E8;
    box-shadow: none;
}